/*variables*/
header {
  width: 100%;
  margin: 0 0 auto; }
  header img:hover {
    transform: scale(1, 1.1);
    border-radius: 10px; }
  header .menu {
    margin: 0;
    background-color: #2b3035; }
    header .menu a {
      color: whitesmoke;
      text-decoration: none; }
  header .menu a:hover {
    background-color: black;
    color: white;
    border-style: initial;
    border-radius: 10px;
    transform: scale(1, 1.1);
    transition: 0.5s; }

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #2b3035;
  background-image: url(../img/background.jpg);
  background-size: cover;
  background-attachment: fixed; }

footer {
  background-color: rgba(228, 228, 228, 0.867);
  color: #2b3035;
  width: 95%;
  padding: 1rem;
  margin: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  border-radius: 10px; }
  footer p {
    text-align: center;
    justify-content: center; }

main {
  width: 100%;
  justify-content: center;
  align-items: center; }

/*index*/
.oferta {
  margin: 1rem; }

.destacados {
  justify-content: center;
  align-items: center; }
  .destacados .prod {
    background-color: rgba(228, 228, 228, 0.867);
    width: 70%;
    text-align: center;
    align-items: center;
    justify-items: center;
    margin: 3rem auto;
    padding: 1rem;
    border-radius: 10px; }
    .destacados .prod a {
      text-decoration: none;
      color: black; }
  .destacados .brands {
    padding: 1rem;
    margin: auto;
    width: 90%; }
    .destacados .brands .box {
      background-color: rgba(228, 228, 228, 0.867);
      margin: 2rem;
      padding: 1rem;
      display: flex;
      border-radius: 10px; }
      .destacados .brands .box h3 {
        padding: 1rem;
        margin: 2rem;
        text-align: center; }

/*Nosotros - contacto*/
.us-contacto {
  justify-content: center;
  justify-items: center;
  align-items: center;
  display: grid;
  grid-template-rows: 1fr 1fr; }
  .us-contacto .us {
    background-color: rgba(228, 228, 228, 0.867);
    width: 80%;
    height: 400px;
    margin: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    border-radius: 10px; }
    .us-contacto .us h1 {
      padding: 0.5rem;
      margin: auto;
      text-align: center;
      justify-content: center; }
    .us-contacto .us p {
      padding: 0.5rem; }
    .us-contacto .us h5 {
      margin: auto;
      text-align: center; }
  .us-contacto .where h2 {
    background-color: rgba(228, 228, 228, 0.867);
    width: 40rem;
    text-align: center;
    align-items: center;
    justify-items: center;
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 10px; }
  .us-contacto .where .maps {
    width: 90%;
    display: flex; }
    .us-contacto .where .maps p {
      margin: 0.5rem; }
  .us-contacto .where .map1 {
    background-color: rgba(228, 228, 228, 0.867);
    width: 400px;
    margin: 1rem;
    padding: 1rem;
    border-radius: 10px; }
  .us-contacto .where .map2 {
    background-color: rgba(228, 228, 228, 0.867);
    width: 400px;
    margin: 1rem;
    padding: 1rem;
    border-radius: 10px; }

/*Productos*/
.productos {
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .productos .prod-box {
    width: 350px;
    height: 500px;
    background-color: rgba(228, 228, 228, 0.867);
    margin: 1rem;
    padding: 1rem;
    border-radius: 10px;
    justify-items: center;
    text-align: center;
    justify-items: center; }
    .productos .prod-box img {
      width: 200px;
      height: 200px;
      padding-bottom: 0.5rem; }
    .productos .prod-box img:hover {
      transform: scale(1, 1.1);
      border-radius: 20px;
      background-color: #2b3035;
      transition: all 1s; }
    .productos .prod-box h4 {
      padding: 1rem;
      margin: 2rem; }
    .productos .prod-box a {
      text-decoration: none;
      color: #2b3035; }

/* Carrito de Compra*/
.compra {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  align-items: center;
  margin: auto; }
  .compra .info {
    background-color: rgba(228, 228, 228, 0.867);
    width: 40%;
    height: 30rem;
    margin: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    border-radius: 10px; }
  .compra .cart {
    background-color: rgba(228, 228, 228, 0.867);
    width: 40%;
    height: 30rem;
    margin: 1rem;
    padding: 1rem;
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 10px; }
    .compra .cart img {
      width: 250px;
      height: 250px;
      padding-bottom: 0.5rem; }
    .compra .cart h3 {
      padding: 0.5rem;
      margin: 1rem;
      text-align: center; }

/* Registro */
.login {
  width: 50%;
  height: 50%;
  margin: 2.5rem auto 2em;
  padding: 5rem;
  background-color: rgba(228, 228, 228, 0.867);
  border-radius: 10px;
  justify-items: center; }

/* Media queries */
@media only screen and (max-width: 575px) {
  /*Index*/
  .prod {
    width: 90%;
    margin: auto;
    border-radius: 10px; }
    .prod a {
      text-decoration: none;
      color: black; }
  .brands {
    padding: 1rem;
    margin: auto;
    width: 95%; }
    .brands .box {
      width: 95%;
      padding: 1rem;
      border-radius: 10px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center; }
      .brands .box img {
        width: 90%;
        height: auto; }
  /*nosotros y contacto */
  .us-contacto {
    width: 90%;
    margin: 0 auto; }
    .us-contacto .us {
      width: 90%;
      height: auto;
      border-radius: 10px;
      justify-content: center; }
      .us-contacto .us h1 {
        padding: 0.5rem;
        margin: 1rem;
        text-align: center; }
      .us-contacto .us p {
        padding: 0.5rem; }
      .us-contacto .us h5 {
        margin: auto;
        text-align: center; }
    .us-contacto .where {
      width: 90%;
      margin: 1rem;
      justify-content: center; }
      .us-contacto .where h2 {
        width: 40%; }
      .us-contacto .where .maps {
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        justify-items: center; }
        .us-contacto .where .maps p {
          margin: 0.5rem; }
      .us-contacto .where .map1 {
        background-color: rgba(228, 228, 228, 0.867);
        width: 400px;
        margin: 1rem;
        padding: 1rem;
        border-radius: 10px; }
      .us-contacto .where .map2 {
        background-color: rgba(228, 228, 228, 0.867);
        width: 400px;
        margin: 1rem;
        padding: 1rem;
        border-radius: 10px; }
  /*productos*/
  .productos .prod-box img:hover {
    transform: scale(1, 1.1);
    border-radius: 20px;
    background-color: #2b3035;
    transition: all 1s; }
  .productos .prod-box h4 {
    padding: 1rem;
    margin: 2rem; }
  .productos .prod-box a {
    text-decoration: none;
    color: #2b3035; }
  /* Carrito de Compra*/
  .compra {
    width: 90%;
    justify-items: center;
    align-items: center;
    margin: auto; }
    .compra .info {
      width: 80%;
      height: auto;
      margin: 1rem auto; }
    .compra .cart {
      background-color: rgba(228, 228, 228, 0.867);
      width: 80%;
      height: 30rem;
      margin: 1rem auto;
      padding: 1rem;
      display: grid;
      justify-content: center;
      align-items: center;
      border-radius: 10px; }
      .compra .cart img {
        width: 250px;
        height: 250px;
        padding-bottom: 0.5rem; }
      .compra .cart h3 {
        padding: 0.5rem;
        margin: 1rem;
        text-align: center; }
  .login {
    width: 80%;
    height: 80%; } }
