body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: #2b3035;
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-attachment: fixed;
}