footer{
    background-color:$color-caja; 
    color: $color-nav-dark;
    width: 95%;
    padding: 1rem;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
    border-radius: 10px;
    h4{
        margin: auto;
        text-align: center;
        justify-content: center;
    }
    .redesSociales{
        a{
            margin: 0.5rem;
        }
        
    }

}
@media only screen and (max-width: 480px){
    footer{
        display: flex;
        flex-wrap: wrap;
        justify-items: center;
        
        .redesSociales{
            
            margin: 0.5rem;
            padding: 0;
        }
    }
}