header{
    width: 100%;
    margin: 0 0 auto;
    .container-fluid{
        img{
            margin: 1rem ;
        }
        img:hover{
            transform: scale(1,1);
            transition: 0.5s;
            border-radius: 5px;
            background-color: none;
        }
    }
    .navbar-nav{
        margin: 0.5rem;
        
    }
    
    .menu{
        margin: 0;
        background-color: $color-nav-dark;
        a{
        color:  whitesmoke;
        text-decoration: none;
        } 
    }    
    .menu a:hover{
        background-color: black;
        color: white;
        border-style:initial;
        border-radius: 10px;
        transform: scale(1,1.1);
        transition: 0.5s;
    }
    
   

}